* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Andika", Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    text-align: center;
    background-color: #2b4353;
}

h1 {
    font-size: 2.5em;
    letter-spacing: .1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #9cd3d3;
}

button {
    padding: .25em .5em;
    margin-top: .5em;
    font-size: 1em;
    background-color: #e8630a;
}

td {
    text-align: center;
    background-color: lightgray;
}

.game_options_columns, .game_display {
    display: flex;
    align-items: flex-start;
}

.game_options_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.player_info {
    box-sizing: content-box;
    text-align: center;
    min-width: 8em;
    margin: 2px;
    padding: 2px;
    background-color: #b6e1e0;
}

.current_turn_display {
    border: 2px solid yellow;
    margin: 0;
}

#first_screen {
    display: flex;
}

#second_screen, #game_screen {
    display: none;
}

#first_screen, #second_screen, #game_screen {
    flex-direction: column;
    align-items: center;
    margin-top: max(70px, 15vh);
}

#custom_grid {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game_grid {
    margin: 0 2em;
}

#reset_options {
    visibility: hidden;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 540px) {
    .player_info {
        display: none;
    }

    .game_options_columns {
        flex-direction: column;
        align-items: center;
    }

    #game_grid {
        margin: 0;
    }

    #reset_options {
        flex-direction: column;
    }
}